{% extends "base.html" %}
{% block head %}
<body>
<div class="container">
    <img src="{{url_for('static',filename='logo.jpg')}}" alt="Image Description">
    <br>
    <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search...">
    <form action="/FormControl/" method="post">
        <h5>Form Submission</h5>
        <div class="alert alert-warning alert-dismissible">
          {{ form.message }}
        </div>
        <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="submit" name="onoff" id="on" value="on">
          </div>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="submit" name="onoff" id="off" value="off">
          </div>          
    </form>
    <br><br>
    <table id="dataTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Email Address</th>
                <th>Id Card</th>
                <th>Address</th>
                <th>Survey Filled</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for user in user %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.current_email_address}}</td>
                <td>{{user.id_card}}</td>
                <td>{{user.address}}</td>
                {% if user.is_filled==0 %}
                    <td>No</td>
                {% else %}
                    <td>Yes</td>
                {% endif %}
                <td><button><a href="/user/details/{{user.id}}" style="text-decoration: none;color: white;">Details</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}