{% extends "base2.html" %}
{% block head %}
<body>
  <img src="{{url_for('static',filename='logo.jpg')}}" style="width:25%" class="center"><br>
	<form action="#" method="post">
	
        <div id="google_translate_element" hidden></div>
			<div class="selected-lang" style="width:20%">                 
					<select onchange="changeLanguage(this.value)">
						<option value="en"> English</option>
						<option value="es">Spanish</option>
					</select>                
				</div>  
	<h1 style="font-family: Arial"> Welcome {{current_user.first_name}} </h1>
	 
		<label for="name">Name <span style="color: red;">*</span></label>
		<input type="text" id="name" name="name" placeholder="Your name.." autofocus readonly value="{{current_user.first_name}}">
		
			<label for="name">Last Name <span style="color: red;">*</span></label>
		<input type="text" id="name" name="name" placeholder="Last name.." readonly value="{{current_user.last_name}}">

		

		<div class="radio-container">
			<label>GENDER <span style="color: red;">*</span></label><br><br>
			 <label class="form-control">
    <input type="radio" name="radio"  required>
    Male
  </label>

  <label class="form-control">
    <input type="radio" name="radio" required >
    Female
  </label>
  <br>
  <br>
			
    <label for="id-card">Personal ID Card: <span style="color: red;">*</span></label>
    <input type="text" id="id-card" name="id-card" placeholder="08-0422-0167" readonly value="{{current_user.id_card}}" >
    <span id="id-card-error" style="color: grey;"></span>
<br>
	<label for="name">Edad <span style="color: red;">*</span></label>
		<input type="text" id="name" name="name" placeholder="For example: 18" required>
		<br>
		 <label for="birthday">Date Of Birth:</label> <br>
		 
  <input type="date" id="birthday" name="birthday">
  
  <br><br>
  
		</div>
		<div class="select-container">
			<label for="blood">Blood Type <span style="color: red;">*</span></label>
			<select id="blood" name="blood" required>
				<option value="">--Select type--</option>
				<option value="A+">A+</option>
				<option value="o+">O+</option>
				<option value="B+">B+</option>
				<option value="AB+">AB+</option>
				<option value="O-">O-</option>
				<option value="A-">A-</option>
				<option value="AB-">AB-</option>
				<option value="B-">B-</option>
			</select>
		</div>
		<br>
			<div class="select-container">
			<label for="Donate">Are you a Blood Donar?<span style="color: red;">*</span></label>
			<select id="Donate" name="Donate" required>
				<option value="">--Select--</option>
				<option value="A+">YES</option>
				<option value="o+">NO</option>
				<option value="B+"> WISH TO BE A DONOR</option>
			</select>
		</div>
		<div class="select-container">
			<label for="language">What language do you speak?<span style="color: red;">*</span></label>
		<select id="languages" name="languages">
    <option>Select Language</option>
    <option value="af">Afrikaans</option>
    <option value="sq">Albanian - shqip</option>
    <option value="am">Amharic - አማርኛ</option>
    <option value="ar">Arabic - العربية</option>
    <option value="an">Aragonese - aragonés</option>
    <option value="hy">Armenian - հայերեն</option>
    <option value="ast">Asturian - asturianu</option>
    <option value="az">Azerbaijani - azərbaycan dili</option>
    <option value="eu">Basque - euskara</option>
    <option value="be">Belarusian - беларуская</option>
    <option value="bn">Bengali - বাংলা</option>
    <option value="bs">Bosnian - bosanski</option>
    <option value="br">Breton - brezhoneg</option>
    <option value="bg">Bulgarian - български</option>
    <option value="ca">Catalan - català</option>
    <option value="ckb">Central Kurdish - کوردی (دەستنوسی عەرەبی)</option>
    <option value="zh">Chinese - 中文</option>
    <option value="zh-HK">Chinese (Hong Kong) - 中文（香港）</option>
    <option value="zh-CN">Chinese (Simplified) - 中文（简体）</option>
    <option value="zh-TW">Chinese (Traditional) - 中文（繁體）</option>
    <option value="co">Corsican</option>
    <option value="hr">Croatian - hrvatski</option>
    <option value="cs">Czech - čeština</option>
    <option value="da">Danish - dansk</option>
    <option value="nl">Dutch - Nederlands</option>
    <option value="en">English</option>
    <option value="en-AU">English (Australia)</option>
    <option value="en-CA">English (Canada)</option>
    <option value="en-IN">English (India)</option>
    <option value="en-NZ">English (New Zealand)</option>
    <option value="en-ZA">English (South Africa)</option>
    <option value="en-GB">English (United Kingdom)</option>
    <option value="en-US">English (United States)</option>
    <option value="eo">Esperanto - esperanto</option>
    <option value="et">Estonian - eesti</option>
    <option value="fo">Faroese - føroyskt</option>
    <option value="fil">Filipino</option>
    <option value="fi">Finnish - suomi</option>
    <option value="fr">French - français</option>
    <option value="fr-CA">French (Canada) - français (Canada)</option>
    <option value="fr-FR">French (France) - français (France)</option>
    <option value="fr-CH">French (Switzerland) - français (Suisse)</option>
    <option value="gl">Galician - galego</option>
    <option value="ka">Georgian - ქართული</option>
    <option value="de">German - Deutsch</option>
    <option value="de-AT">German (Austria) - Deutsch (Österreich)</option>
    <option value="de-DE">German (Germany) - Deutsch (Deutschland)</option>
    <option value="de-LI">German (Liechtenstein) - Deutsch (Liechtenstein)</option>
    <option value="de-CH">German (Switzerland) - Deutsch (Schweiz)</option>
    <option value="el">Greek - Ελληνικά</option>
    <option value="gn">Guarani</option>
    <option value="gu">Gujarati - ગુજરાતી</option>
    <option value="ha">Hausa</option>
    <option value="haw">Hawaiian - ʻŌlelo Hawaiʻi</option>
    <option value="he">Hebrew - עברית</option>
    <option value="hi">Hindi - हिन्दी</option>
    <option value="hu">Hungarian - magyar</option>
    <option value="is">Icelandic - íslenska</option>
    <option value="id">Indonesian - Indonesia</option>
    <option value="ia">Interlingua</option>
    <option value="ga">Irish - Gaeilge</option>
    <option value="it">Italian - italiano</option>
    <option value="it-IT">Italian (Italy) - italiano (Italia)</option>
    <option value="it-CH">Italian (Switzerland) - italiano (Svizzera)</option>
    <option value="ja">Japanese - 日本語</option>
    <option value="kn">Kannada - ಕನ್ನಡ</option>
    <option value="kk">Kazakh - қазақ тілі</option>
    <option value="km">Khmer - ខ្មែរ</option>
    <option value="ko">Korean - 한국어</option>
    <option value="ku">Kurdish - Kurdî</option>
    <option value="ky">Kyrgyz - кыргызча</option>
    <option value="lo">Lao - ລາວ</option>
    <option value="la">Latin</option>
    <option value="lv">Latvian - latviešu</option>
    <option value="ln">Lingala - lingála</option>
    <option value="lt">Lithuanian - lietuvių</option>
    <option value="mk">Macedonian - македонски</option>
    <option value="ms">Malay - Bahasa Melayu</option>
    <option value="ml">Malayalam - മലയാളം</option>
    <option value="mt">Maltese - Malti</option>
    <option value="mr">Marathi - मराठी</option>
    <option value="mn">Mongolian - монгол</option>
    <option value="ne">Nepali - नेपाली</option>
    <option value="no">Norwegian - norsk</option>
    <option value="nb">Norwegian Bokmål - norsk bokmål</option>
    <option value="nn">Norwegian Nynorsk - nynorsk</option>
    <option value="oc">Occitan</option>
    <option value="or">Oriya - ଓଡ଼ିଆ</option>
    <option value="om">Oromo - Oromoo</option>
    <option value="ps">Pashto - پښتو</option>
    <option value="fa">Persian - فارسی</option>
    <option value="pl">Polish - polski</option>
    <option value="pt">Portuguese - português</option>
    <option value="pt-BR">Portuguese (Brazil) - português (Brasil)</option>
    <option value="pt-PT">Portuguese (Portugal) - português (Portugal)</option>
    <option value="pa">Punjabi - ਪੰਜਾਬੀ</option>
    <option value="qu">Quechua</option>
    <option value="ro">Romanian - română</option>
    <option value="mo">Romanian (Moldova) - română (Moldova)</option>
    <option value="rm">Romansh - rumantsch</option>
    <option value="ru">Russian - русский</option>
    <option value="gd">Scottish Gaelic</option>
    <option value="sr">Serbian - српски</option>
    <option value="sh">Serbo-Croatian - Srpskohrvatski</option>
    <option value="sn">Shona - chiShona</option>
    <option value="sd">Sindhi</option>
    <option value="si">Sinhala - සිංහල</option>
    <option value="sk">Slovak - slovenčina</option>
    <option value="sl">Slovenian - slovenščina</option>
    <option value="so">Somali - Soomaali</option>
    <option value="st">Southern Sotho</option>
    <option value="es">Spanish - español</option>
    <option value="es-AR">Spanish (Argentina) - español (Argentina)</option>
    <option value="es-419">Spanish (Latin America) - español (Latinoamérica)</option>
    <option value="es-MX">Spanish (Mexico) - español (México)</option>
    <option value="es-ES">Spanish (Spain) - español (España)</option>
    <option value="es-US">Spanish (United States) - español (Estados Unidos)</option>
    <option value="su">Sundanese</option>
    <option value="sw">Swahili - Kiswahili</option>
    <option value="sv">Swedish - svenska</option>
    <option value="tg">Tajik - тоҷикӣ</option>
    <option value="ta">Tamil - தமிழ்</option>
    <option value="tt">Tatar</option>
    <option value="te">Telugu - తెలుగు</option>
    <option value="th">Thai - ไทย</option>
    <option value="ti">Tigrinya - ትግርኛ</option>
    <option value="to">Tongan - lea fakatonga</option>
    <option value="tr">Turkish - Türkçe</option>
    <option value="tk">Turkmen</option>
    <option value="tw">Twi</option>
    <option value="uk">Ukrainian - українська</option>
    <option value="ur">Urdu - اردو</option>
    <option value="ug">Uyghur</option>
    <option value="uz">Uzbek - o‘zbek</option>
    <option value="vi">Vietnamese - Tiếng Việt</option>
    <option value="wa">Walloon - wa</option>
    <option value="cy">Welsh - Cymraeg</option>
    <option value="fy">Western Frisian</option>
    <option value="xh">Xhosa</option>
    <option value="yi">Yiddish</option>
    <option value="yo">Yoruba - Èdè Yorùbá</option>
    <option value="zu">Zulu - isiZulu</option>
</select>
		</div>
		
			<label for="email"> Current Email <span style="color: red;">*</span></label>
		<input type="text" id="email" name="email" placeholder="Your @email.." readonly value="{{current_user.current_email_address}}" >
		
    <label for="mobile">Cellular or home number  <span style="color: red;">*</span></label>
    <input type="text" id="mobile" name="mobile" pattern="\d{4}-\d{4}" placeholder="0000-0000" required>
    <span id="mobile-error" style="color: grey;"></span>
		
	<div class="select-container">
		
			<label for="provinces">Select a province or county<span style="color: red;">*</span></label>
<select id="provinces" name="provinces">
  <option value="">-- Select --</option>
  <option value="Alava">Alava</option>
  <option value="Albacete">Albacete</option>
  <option value="Alicante">Alicante</option>
  <option value="Almeria">Almeria</option>
  <option value="Asturias">Asturias</option>
  <option value="Avila">Avila</option>
  <option value="Badajoz">Badajoz</option>
  <option value="Barcelona">Barcelona</option>
  <option value="Burgos">Burgos</option>
  <option value="Caceres">Caceres</option>
  <option value="Cadiz">Cadiz</option>
  <option value="Cantabria">Cantabria</option>
  <option value="Castellon">Castellon</option>
  <option value="Ciudad Real">Ciudad Real</option>
  <option value="Cordoba">Cordoba</option>
  <option value="Cuenca">Cuenca</option>
  <option value="Gerona">Gerona</option>
  <option value="Granada">Granada</option>
  <option value="Guadalajara">Guadalajara</option>
  <option value="Guipuzcoa">Guipuzcoa</option>
  <option value="Huelva">Huelva</option>
  <option value="Huesca">Huesca</option>
  <option value="Islas Baleares">Islas Baleares</option>
  <option value="Jaen">Jaen</option>
  <option value="La Coruna">La Coruna</option>
  <option value="La Rioja">La Rioja</option>
  <option value="Las Palmas">Las Palmas</option>
  <option value="Leon">Leon</option>
  <option value="Lerida">Lerida</option>
  <option value="Lugo">Lugo</option>
  <option value="Madrid">Madrid</option>
  <option value="Malaga">Malaga</option>
  <option value="Murcia">Murcia</option>
  <option value="Navarra">Navarra</option>
  <option value="Orense">Orense</option>
  <option value="Palencia">Palencia</option>
  <option value="Pontevedra">Pontevedra</option>
  <option value="Salamanca">Salamanca</option>
  <option value="Santa Cruz de Tenerife">Santa Cruz de Tenerife</option>
  <option value="Segovia">Segovia</option>
  <option value="Sevilla">Sevilla</option>
  <option value="Soria">Soria</option>
  <option value="Tarragona">Tarragona</option>
  <option value="Teruel">Teruel</option>
  <option value="Toledo">Toledo</option>
  <option value="Valencia">Valencia</option>
  <option value="Valladolid">Valladolid</option>
  </select>
  
  	</div>
	
  
<div class='parent'>
<label for="address"> Address <span style="color: red;">*</span></label>
		<input type="text" id="address" name="address" placeholder="Address" readonly value="{{current_user.address}}" >
  <input type="city" class="child"  placeholder="City" readonly value="{{current_user.city}}">
   <input type="state" class="child"  placeholder="State/Province" readonly value="{{current_user.province}}">
   <br><br><br>
  <label for="address"> Country <span style="color: red;">*</span></label>
  <input type="text" id="address" name="address" placeholder="Address" readonly value="{{current_user.country}}" >
</div>
<br>
<h3> Do you have any disabilities? </h3>
<a href="disabilities.html" style="color:black; font-size:20px"> Yes </a> <br>
<a href="none.html" style="color:black; font-size:20px"> No </a>
</div>
</form>
</body>
{% endblock %}